body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

nav .container a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

.hero {
  text-align: center;
  padding: 60px 0;
}

.prod-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.prod-card {
  border: 1px solid #ddd;
  padding: 15px;
  flex: 1 1 calc(33% - 40px);
  box-sizing: border-box;
}

.prod-card img {
  max-width: 100%;
}
#favoriteBtn {
  transition: all 0.2s ease-in-out;
}
#cartBtn {
  transition: all 0.2s ease-in-out;
}

/* и др. */
