{% extends "base.html" %}
{% block title %}{{ category.name }} — Категория{% endblock %}
{% block content %}
  <h1>{{ category.name }}</h1>
  <div class="prod-grid">
    {% for product in products %}
    <div class="prod-card">
      <button class="btn btn-outline-warning favoriteBtn" data-id="{{ product.id }}">
        ☆ Добавить в избранное
      </button>
      {% if product.image %}
      <img src="{{ product.image_url }}" alt="{{ product.name }}">
      <!-- <img src="{{ product.image }}" alt="{{ product.name }}"> -->
      {% endif %}
      <h3><a href="{{ url_for('product_page', slug=product.slug) }}">{{ product.name }}</a></h3>
      <p>{{ "%.2f"|format(product.price) }} ₽</p>
    </div>
    {% endfor %}
  </div>
{% endblock %}