{% extends "base.html" %}

{% block title %}О компании — BB-Caliper{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

    <div class="hero">
        <h1>ГАРАНТИИ И ПОДДЕРЖКА НАШИХ КЛИЕНТОВ</h1>
    </div>

    <div class="container">
        <h2>ГАРАНТИЙНЫЕ ОБЯЗАТЕЛЬСТВА</h2>
        <ul>
            <li>
                <strong> Тормозные системы BB-caliper соответствуют мировым стандартам качества 
                и гарантируют надежную работу тормозной системы в течение многих лет. Эта гарантия 
                распространяется на все товары BB-caliper, используемые в городах и при нормальных 
                условиях эксплуатации. </strong>
                    <p> Если возникает гарантийный случай, то BB-cliper осуществляет ремонт или замену 
                    товара в течение всего гарантийного периода. В случае возникновения гарантийного случая 
                    покупатель товара должен предоставить BB-caliper гарантийный талон, который содержит 
                    информацию о марке и модели автомобиля, годе выпуска и дате продажи товара. </p>
            </li>
            <li>
                <strong>Со дня обращения Покупателя к Производителю в период гарантийного срока 
                Производитель осуществляет:</strong> 
                    <p>- ремонт изделия в срок, не превышающий 45 дней;</p>
                    <p>- замену изделия в течение семи дней со дня обращения Покупателя, а при необходимости 
                    дополнительной проверки качества такого изделия Производителем — в течение двадцати дней 
                    со дня обращения Покупателя. Если у Производителя отсутствует необходимый для замены товар, 
                    замена производится в течение месяца со дня обращения Покупателя с соответствующим требованием.</p>
            </li>
            <li>
                <strong>Для тормозных систем от BB-caliper действуют следующие гарантийные сроки:</strong> 
                    <p>- 1 год для лакокрасочного покрытия тормозной системы BB-caliper;</p>
                    <p>- 3 месяца для самой тормозной системы.</p>
            </li>
        </ul>

        <h2>Гарантия не распространяется (случай не является гарантийным):</h2>
        <ul>
            <li>
                на изделия, подверженные износу, зависящему от интенсивности эксплуатации, условий и стиля вождения 
                владельца автомобиля — на тормозные колодки и тормозные диски (как в случае продажи их Покупателю отдельными 
                комплектующими, так и в составе тормозной системы);
            </li>
            <li>
                на посторонние шумы, которые характерны при использовании тормозных колодок типа Street, Sport, Track;
            </li>
            <li>
                на лакокрасочное покрытие акриловых суппортов;
            </li>
            <li>
                изменение оттенка и яркости анодированных суппортов и центров допустимо и обусловлено процессом окрашивания 
                методом анодного оксидирования выполненного по ГОСТУ 9.301-86 Межгосударственного стандарта « Единой системы 
                защиты от коррозии и старения»;
            </li>
            <li> 
                для анодно-окисного покрытия на изделиях из алюминия и его сплавах оттенки не нормируются и возможны блики 
                различных тонов , что не является браковочным признаком;
            </li>
            <li> 
                если Покупатель самостоятельно осуществляет установку тормозной системы либо путем обращения к третьим лицам, 
                то считается что он надлежащим образом ознакомился с инструкцией производителя и несет риск наступления 
                неблагоприятных последствий, связанных с установкой тормозной системы в нарушение инструкции производителя;
            </li>
            <li> в случае постороннего вмешательства в тормозную систему путем ее разбора, ремонта, модернизации и совершения 
            Покупателем либо третьим лицом, к которому он обратился иных действий, которые привели к изменению первоначального 
            вида тормозной системы BB-caliper;
            </li>
            <li> в случае повреждения тормозной системы BB-caliper в результате воздействия на нее других неисправных частей автомобиля; </li>
            <li> в случае повреждения тормозной системы и иной продукции BB-caliper в результате стихийного бедствия или аварии; </li>
            <li> в случае обращения Покупателя к Производителю по истечении гарантийного срока. </li>
        </ul>
        <p><strong>Производитель подчеркивает, что установка и обслуживание тормозных систем BB-caliper должны производиться только 
        квалифицированными специалистами.</strong></p>
        <p><strong>Покупатель несет самостоятельную ответственность за расходы, связанные с демонтажем, установкой, перевозкой тормозной 
        системы или других гарантийных продуктов BB-caliper. Производитель не компенсирует эти расходы покупателю.</strong></p>
        <div class="contact-block">
            <a href="/contact">СВЯЖИТЕСЬ С НАМИ — ПОДБЕРЁМ СИСТЕМУ</a>
        </div>

    </div>
    
{% endblock %}